# Dominio de produccion
DOMAIN=a23poldiabel.daw.inspedralbes.cat

# Correo para Let's Encrypt
LETSENCRYPT_EMAIL=admin@inspedralbes.cat

# Laravel
APP_KEY=base64:CAMBIA_ESTA_CLAVE
JWT_SECRET=change-this-secret-in-production

# Ticketmaster
TICKETMASTER_API_KEY=
TICKETMASTER_COUNTRY_CODE=ES
TICKETMASTER_CITY=Barcelona
TICKETMASTER_SIZE=20

# Base de datos
# Dejar vacio para usar DB_HOST/DB_PORT/DB_DATABASE
DB_URL=
POSTGRES_DB=entrades
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres-change-me

# Sockets
MAX_SEIENTS_PER_RESERVA=3
